body{
    background-color: #0E021B;
    margin: 0em;font-family: Poppins;
/* font-style: normal; */
}

.header{
    /* position: absolute; */
    /* width: 871px; */
    /* height: 141px; */
    /* left: 60px;
    top: 277px; */
    /* margin-left: 1em; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    line-height: 1.3em;
    margin-bottom: 0.2em;
    /* border: 1px solid red; */
    color: #FF9900;
    margin-left: 5vw;
    font-size: 4em;
    line-height: 1em;
}

.accent-head{
    color: #ffffff;
    font-size: 0.8em;
}
.container {
  height: 90vh;

  position: relative;
  min-height: 95vh;
  /* border: 3px solid green; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.subtext{
    color: #9B95A0;
    /* border: 1px solid red; */
font-family: Poppins;
    font-style: normal;
    margin-top:0.8em;
    font-weight: 400;
    font-size: 1.8em;
    max-width: 70%;
    margin-left: 5vw;

}

.why-container {
    
  display: grid;
   /* .why-container { grid-template-columns: repeat(2, 1fr); } */

  margin-top: 8em;  
}

.reason{
    text-align: center;
    margin-bottom: 10em;
}

.reason box-icon{
    height: 5em;
    width: 5em;
}

.topnav {
  overflow: hidden;
    /* border: 1px solid red; */

  background-color: rgb(255, 255, 255);
}
.topnav a {
  /* border: 1px solid red; */
  /* float: left; */
  margin-left: 1vw;
  display: block;
  /* color: #a50000; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
  
}
.active {
  /* border: 1px solid red; */
  float: left;
  margin-left: 1vw;
  display: block;
  /* color: #a50000; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
  
}



.why{
    background-color: #E7E7E7;
border: 5px solid transparent;
margin-bottom: 4em;
    
}

.why-head{
    font-family: Poppins;
font-style: normal;
font-weight: 800;
text-align: center;
font-size: 3em;
/* border: 5px solid green; */
}

.pricing-head{
    font-family: Poppins;
font-style: normal;
font-weight: 800;
text-align: center;
font-size: 3em;
color: #d8d6da;
/* border: 5px solid green; */
}

.black-logo{
    /* position: absolute; */
/* width: 280px;
height: 42px;
left: 30px;
top: 20px; */

font-family: Poppins;
font-style: normal;
font-weight: 800;
width: auto;
font-size: 1.8em;
/* line-height: 42px; */
/* identical to box height */

margin: 0;
/* padding: ; */
color: #140324;
}

.pricing{
    margin-bottom: 40em;
    
}
@media (min-width: 600px) {
  .why-container { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .why-container { grid-template-columns: repeat(4, 1fr); }
}
.pricing-container{
  display: grid;
  /* margin: 0 25em; */
  grid-gap: 5rem;
  grid-template-columns: 1fr  ;
}
.pricing-box{
    background-color: #ffffff;
    /* border: 3px solid    red; */
    border-radius: 1em;
    margin: auto;
    width: 50%;
    /* margin-left: 3em; */
}
.pricing-box h1{
    /* background-color: #959A9B; */
    color: #000;
    text-align: center;
    /* margin-left: 3em; */
}
.pricing-box h2{
    line-height: 2em;
    /* background-color: #959A9B; */
    color: rgb(63, 62, 62);
    text-align: center;
    /* margin-left: 3em; */
}
.grey-logo{
    color:#959A9B;
;
}
.icon{
    width:10em;
    height:1em;
    padding-top: 0.3em;
     /* margin: 0; */
     
  /* position: absolute; */
  /* top: 80%; */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}

.create-button{
    background-color: #fff;
    border:none;
    margin-left: 5vw;
    color: #000;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    padding: 0;
    border-radius: 20em;
    text-transform: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
    /* text-rendering: optimizeSpeed; */
}

.create-button:hover{
    background-color: #d8d6da;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* .topnav a.active {
  background-color: #ffffff;
  color: white;
} */

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
