body{
    background-color: #1A1A2E;
    font-family: 'DM Sans', sans-serif;
    margin-top: 4em;
    margin-left: 10em;
    margin-right: 10em;
    /* border: 10px solid green; */
}

.heading{
    color: #E6D5B8;
    margin-top: 2em;
    font-size: 3.5em;
    max-width: 89%;
    font-weight: 700;
}

.accent-text{
    color: #E94560;
    font-size: 1em;
}

.h1{
    color: #fff;
}

.ffff{
    margin-top: 10em;
}

.logo{
    width: 20em;
}

.sub-text{
    color: #E4E4E4;
    font-weight: 300;
    max-width: 70%;
    font-size: 1.7em;
    line-height: 1.5em;
}


.vertical-center {
  margin: 0;
  /* position: absolute; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.button{
    border: none;
    background-color: #4867B9;
    color: #fff;
    padding: 1em 2em;
    border-radius: 1em;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.button:hover{
    background-color: #586994;
}


/* SIGNUP PAGE */

.heading-signup{
    color: #E6D5B8;
    margin-top: 2em;
    width: 40.5%;
    margin: 0 auto;
    font-size: 3.5em;
    max-width: 89%;
    font-weight: 700;
}


button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 1em 3em;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 15%;
    float: right;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */

    /* border: 2px solid red; */
}  

.name{
    color: #E4E4E4;
    font-weight: 300;
    max-width: 70%;
    font-size: 1.6em;
    line-height: 1.5em;
}

.logout-button{
    margin: 0;
  /* position: absolute; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    border-radius: 10px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 1.3em 3em;
    cursor: pointer;
	letter-spacing: 1px;
    /* float: right; */
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

logout-button:active {
	transform: scale(0.95);
}

logout-button:focus {
	outline: none;
}

logout-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.container {
  height: auto;
  position: relative;
  /* border: 3px solid green; */
}

.vertical-center {
  /* margin: 0; */
  /* position: absolute; */
  margin-left: 56em;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


table {
    margin-top: 3em;
 color: #FFFFFF;
  border-collapse: collapse;
  width: 100%;
}

td{
  /* border: 1px solid #2c2d41; */
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr:nth-child(1) {
  background-color: #1a1a2e;
}

tr{
    margin-bottom: 1em;
    background-color: #101625;
    /* padding: 3em; */
}

th{
    text-align: left;

}
table {
    border-collapse: separate;
    border-spacing: 1em 1.4em;
}
td{
    border-radius: 1em;
    padding: 1.3em;
    /* background-color: white; */
    /* padding: 3em; */
}
input{
    border: none;
    padding: 0.8em 1em;
    width: 80%;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 700;
}

.add{
    float: right;
    border-radius: 0.7em;
    background-color: #4867B9;
    border: none;
    margin: 5em 0;
    padding: 1.4em 3em;
}