body{
    background-color: #1A1A2E;
    font-family: 'DM Sans', sans-serif;
    margin: 4em;
    margin-left: 8em;
}

.heading{
    color: #E6D5B8;
    margin-top: 2em;
    font-size: 3.5em;
    max-width: 89%;
    font-weight: 700;
}

.accent-text{
    color: #E94560;
}

.logo{
    width: 20em;
}

.sub-text{
    color: #E4E4E4;
    font-weight: 300;
    max-width: 70%;
    font-size: 1.7em;
    line-height: 1.5em;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.button{
    border: none;
    background-color: #4867B9;
    color: #fff;
    padding: 1em;
    border-radius: 1em;
    margin-top: 2em;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.button:hover{
    background-color: #586994;
}